---
import Optimizer from '../components/Optimizer.svelte'
import * as data from '../lib/farm-merge-data.ts'
---

<html lang="en">
<head>
  <meta charset="utf-8"/>
  <link rel="icon" type="image/svg+xml" href="/favicon.svg"/>
  <link rel="icon" href="/favicon.ico"/>
  <meta name="viewport" content="width=device-width"/>
  <meta name="generator" content={Astro.generator}/>
  <title>Farm Merge Valley Craft Optimizer</title>
</head>
<body>
<main>
	<h1>Craft Optimizer (<a href="./about">What‽</a>)</h1>

  <Optimizer data={data} client:load />
</main>
</body>
</html>
